{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block contenttitle %}{{ article.title }}{% endblock %}
{% block content %}
<section class="post">
{{ article.content}}  
</section> 
<section class="meta">
	<span class="auther"><a href="{{ SITEURL }}">WANG Aiyong</a></span>
	<span class="time">/{{article.locale_date}}</span>
	<br/>
	<span class="license">Power by <a href="http://getpelican.com/">Pelican</a> in categories  <a href="/{{ article.category.url }}">{{ article.category }}</a> Tagged {% if article.tags %}{% for tag in article.tags %}<a href="/{{ tag.url }}">{{ tag }} </a>{% endfor %}{% endif %}</span>
</section><!-- /#meta -->
<section class="comment">
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'gepcel'; // required: replace example with your forum shortname
    var disqus_url = '{{ SITEURL}}/posts/{{ article.url }}';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
{% endblock %}
